* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
}

.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #1d1dc6;
    color: #fff;
    border-bottom: 4px solid #fdb347;
}

.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 10px;
    gap: 1rem;
}

.gallery img {
    width: 100%;
    max-width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

@media (min-width : 768px){
    
    .gallery {
        flex-direction: row;
        background-image : url("raspitas.jpg");
    }
    .gallery img{
        /* height: auto; */
        /* width: 100%; */
    }
}

@media (min-width : 992px){
    
    .gallery{
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        /* background-image : url("raspitas.jpg"); */
    }
    .gallery img {
        max-width: initial;
    }
}